table.grid, table.grid th, table.grid td {
	border-collapse: collapse;
	border: 1px solid #000;
	vertical-align: top;
	
}
table.grid {
	margin: 20px 0px;
}

table.grid th, table.grid td {
	width: 13%;
}

table.grid th {
	background: #ffe4b5;
}



table.grid th.cal_top {
	background: #B0E0E6;
	font-size: 16pt;
}

table.grid td {
	background: #FFF;
}



BODY {
	font: 12px Arial, Helvetica, sans-serif;
	background-color : #F0FFF0;
	color: #000;
	margin: 0px;
}

A {
	color: #369;
}
.top_nav {
	float: right;
}
.top {
	background-color : #B0E0E6;
	color: #000;
	padding: 10px;
	border-bottom: 1px solid #000;
}

.nav {
	background-color : #ffe4b5;
	color: #000;
	padding: 0px 10px;
	border-bottom: 1px solid #000;
	line-height: 30px;
}
.top A, .nav A, .cal_top A, .bottom A {
	color: #036;
	text-decoration: none;
}
.nav A, .cal_top A {
	color: #c60;
}
.nav A {
	padding: 2px;
}
.nav A.selected {
	background: #ffc;
	color: #000;
}
.bottom {
	clear: left;
	background-color : #B0E0E6;
	color: #000;
	padding: 5px 10px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.top h1 {
	margin: 0em;
	padding: 0em;
}
.content {
	padding: 10px;
}
.content .item {
	padding: 2px;
}
h1 {
	font-size: 18pt;	
}
h2 {
	font-size: 16pt;	
}
h3 {
	font-size: 14pt;	
}
h4 {
	font-size: 12pt;
	margin: 0em;
	padding: 0em;
}
input {
	font-size: 10pt;
}
.element {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
form {
	margin: 0em;
	padding: 0em;
}
.morning {
	background: #ffc;
}
.noon {
	background: #fcc;
}
.afternoon {
	background: #cff;
}
.evening {
	background: #ccf;
}
.midnight {
	background: #ccc;
}
div#timelayer {
	position:absolute;
	visibility:hidden;
}

form.top_form {
	margin: 0px;
	padding: 0px;
	float: right;
}
.time {
	font-size: 8pt;
}
.title {
	font-size: 10pt;
	font-weight: bold;
}

.venue {
	font-size: 8pt;
}
.location {
	font-size: 8pt;
}
.edit {
	font-size: 8pt;
}


.day ul {
	margin: 5px;
	padding: 0px 15px;
}
.day_of_month {
	text-align: right;
	float: right;
	font-size: 14pt;
	font-weight: bold;
	color:#999;
}


/* Added v0.2.0 */
.error {
	background: #fcc;
}
td, th {
	vertical-align: top;
}
.sidebar {
	width: 300px;
	border: 1px solid #000;
	background: #fff;
	padding: 5px;
	float:right;
}
/* Added v0.4.0 */

.day_of_month_s {
	text-align: right;
	float: right;
	color:#999;
}
table.grid th.cal_top_s {
	background: #B0E0E6;
}

.button {
	padding: 2px;
	float: left;
}

.button div {
	width:10px;
	height:10px;
	border:1px solid #000;
}
table.grid td.holder {
	 vertical-align:top;
	 border: 0px solid #fff;
	 padding: 5px;
}
/* Added v0.4.1 */
.cell {
	height:29px;
	border-bottom: 1px dashed #ccc;
	color: #999;
}
.cell_top {
	background: #ffe4b5;
	height:24px;
	border-bottom: 1px solid #000;
	font-weight:bold;
	text-align:center;
	padding-top: 5px;
}
.date {
    position: absolute;
    border: 1px solid #000;
    background-color : #fff;
    z-index: 1;
    overflow-y: hidden;    /* changed from auto because I didn't want the scroll bar */
    overflow-x: hidden;    /* added to allow IE to size the width of the event properly */
    margin: 0px;
}
.wrap{
width: 100%;
clear: both;
}

#dates {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
}
.inner {
	padding: 0px 2px;
	font-size: 6pt;
}
.frame {
	background: #fff;
	border: 1px solid #000;
}

div.cal_top {
	background: #B0E0E6;
	font-size: 16pt;
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid #000;
}
.single_day_frame {
	position:relative;
	margin: 0px;
	padding: 0px;
	
}
/* Added v1.0.0 */
.time_frame {
	position:relative;
	margin: 0px;
	padding: 0px;
}
.timex {
	width: 80px;	
}

.day_of_week {
	height: 1440px;
	border-left: 1px solid #000;
	position: absolute;
}
#today {
	background: #ffc;
}
.day_of_month a, .day_of_month_s a, .week a {
	color: #999;
	text-decoration: none;
}
th.cal_top_s a {
	color: #000;
	text-decoration: underline;
}
table.day {
	width: 100%;
	border-collapse: collapse;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
table.day th {
	background: #ffe4b5;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	padding: 5px;
}
td.single_day {
	border-left: 1px solid #000;
}
.week {
	clear: right;
	text-align: right;
	float: right;
	font-size: 8pt;
	font-weight: bold;
	color:#999;
}
.cell_top a {
	color: #000;
	text-decoration: underline;
}

.inner .time, .inner .venue, .inner .location, .inner .edit {
	font-size: 6pt;
}

.inner .title {
	font-size: 8pt;
}
.code {
	font-family: Courier New;
}