.nav-wrapper{
		  background-color: #660000;
      height:80px;
		  }
		  
		  .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #585858;
  text-align: center;
  height:8%;
}
.footertext {
color:#dad8d6;
}
.logo{
  height: 100%;   
width: 57px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer{
    background:#585858 url(http://www.ulm.edu/_resources/images/line-pattern_0.png) !important;
  }

  .footer-copyright{
    background:#585858 !important;

  }