#print-button, nav, .card, .card-2, .page-footer, .option, .notapproved, .rss{
	display: none;
}
.cal_top { padding: 0px !important; }

@page { margin: 0; }
body { margin: 1.6cm; }

.grid {
	margin: 0;
	width:100%;
	box-shadow: none;
}