.scrollable { 
	overflow: scroll; 
	width: 100%; 
	padding: 20px;
	overflow-x:auto;

 }
 
.roomInner { 
	width: 100%;
    box-shadow: 5px 10px;
	
 }

.cell{
	display:none;
}

.informationButton{
	margin-left: 1px;
	border: none;
	transition: color 1s;
}

.informationButton:hover{
	background-color: black;
	color: white;
}
