select { 
	position: relative !important;
	opacity: 100 !important;
	pointer-events:auto !important;
	
	}

.noshow {
	display:none;
}

.scrollable {
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
}
.room {
  width: 250px;
  float:left;
  border: 1px solid;
  position:relative;
}

.room > table > tbody > tr > td {
	padding: 0;
}
.room > table > tbody > tr {
	padding: 0;
	height:10px;
}
.cell {
	padding:0;
}

.day > tbody > tr > td {
	padding:0;
}
.cutoff {
	text-overflow:ellipsis; 
	overflow:hidden; 
	width:100%; 
	height:100px; 
	white-space: nowrap;
}

#print-button {
	float:right;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
pointer-events: auto !important; 
    z-index: 1;
}

.input-field .dropdown-content [type="checkbox"]+label {
  top: 0; /* previously 1px; */
  display: inline; /* previously inherits `display: inline-block;` from `[type="checkbox"]+label` */
}

.room{
	position:static;
	margin:1%;
}

data-time {
	height:29px;
}
.wrap {position:relative;}


.breaking_css{
	margin-top: 12px;
	margin-left:12px;
}

#viewsright {
	float:right;
	width:500px !important;
}
#viewsleft {
	float:left;
	width:50%;
}

.wid{
	display:block;
	width:100% !important;
	height:36px !important;
}

.hiddenRoom {
	display:none;
}


.outer {
	width:100%;
	margin: auto;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
}

.innerTest {
	overflow-x:hidden;
	overflow-y:hidden;
	height:160px;
	white-space:nowrap;
}

.line{
	border:1px solid black;
}